.year-page {
  display: grid;
  grid-template:
    "january february march april may june july august september october november december" /
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 16px;

  @media screen and (max-width: 2888px) {
    grid-template:
      "january february march april may june"
      "july august september october november december" /
      1fr 1fr 1fr 1fr 1fr 1fr;
  }

  @media screen and (max-width: 1436px) {
    grid-template:
      "january february march april"
      "may june july august"
      "september october november december" /
      1fr 1fr 1fr 1fr;
  }

  @media screen and (max-width: 952px) {
    grid-template:
      "january february march"
      "april may june"
      "july august september"
      "october november december" /
      1fr 1fr 1fr;
  }

  @media screen and (max-width: 710px) {
    grid-template:
      "january february"
      "march april"
      "may june"
      "july august"
      "september october"
      "november december" /
      1fr 1fr;
  }

  @media screen and (max-width: 468px) {
    grid-template:
      "january"
      "february"
      "march"
      "april"
      "may"
      "june"
      "july"
      "august"
      "september"
      "october"
      "november"
      "december" /
      1fr;
  }
}

$months: january february march april may june july august september october november december;
@each $month in $months {
  .year-page__cell--#{$month} {
    grid-area: $month;
  }  
}
