$color-gray-300: #E2E8F0;
$color-gray-500: #A0AEC0;
$color-gray-700: #4A5568;
$color-gray-900: #1A202C;

$color-red-500: #F56565;

.month {
  display: flex;
  flex-wrap: wrap;
}

.month__cell {
  align-items: center;
  color: $color-gray-300;
  display: flex;
  flex: 0 0 14.28%;
  height: 28px;
  justify-content: center;
  user-select: none;
}

.month__cell--weekend {
  color: $color-gray-500;
}

.month__cell--dead {
  color: $color-gray-700;
}

.month__cell--today {
  background-color: $color-red-500;
  border-radius: 25px;
  color: $color-gray-900;
}
